.demos-nav,.demos-nav dt,.demos-nav dd,.demos-nav ul,.demos-nav li {
	margin: 0;
	padding: 0;
	font-family: arial;
}

.demos-nav {
	float: left;
	width: 170px;
	font-size: 1em;
}

.demos-nav a {
	font-weight: normal;
}

.demos-nav dt,.demos-nav h4 {
	margin: 0;
	padding: 0;
	font: normal 1em arial;
	color: #e87b10;
}

.demos-nav dt,.demos-nav h4 {
	margin-top: 1.5em;
	margin-bottom: 0;
	padding-left: 8px;
	padding-bottom: 5px;
	line-height: 1.2em;
	border-bottom: 1px solid #F4F4F4;
}

.demos-nav dd a,.demos-nav li a {
	border-bottom: 1px solid #F4F4F4;
	display: block;
	padding: 4px 3px 4px 8px;
	font-size: 0.95em;
	text-decoration: none;
	color: #555;
	margin: 2px 0;
	height: 13px;
}

.demos-nav dd a:hover,.demos-nav dd a:focus,.demos-nav dd a:hover,.demos-nav dd a:focus
	{
	background: #f3f3f3;
	color: #000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.demos-nav dd a.selected {
	background: #555;
	color: #ffffff;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}