<?xml version="1.0" encoding="UTF-8"?>

<!-- AUTHOR : KRISHNA RANGAIAH. K -->
<!-- CREATED DATE : 04-DEC-2012 -->
<!-- FILE NAME : daoContext.xml -->
<!-- PROJECT : JADE PLATFORM ADMIN -->
<!-- DESCRIPTION : THIS FILE IS PLACE WHERE YOU CONFIGURE YOUR Spring JDBC 
	DataSources, DAO Beans, Model Beans -->

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<!-- Property Configurations -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>Application.properties</value>
		</property>
	</bean>


	<!-- End of Property Configurations -->

	<!-- Data Source -->
	<bean id="boneCP" class="com.jolbox.bonecp.BoneCPDataSource"
		destroy-method="close">
		<property name="driverClass" value="${mysql.jdbc.driver}" />
		<property name="jdbcUrl" value="${mysql.jdbc.url}" />
		<property name="username" value="${mysql.jdbc.user}" />
		<property name="password" value="${mysql.jdbc.password}" />
		<property name="idleConnectionTestPeriodInMinutes" value="2" />
		<property name="idleMaxAgeInMinutes" value="2" />
		<property name="maxConnectionsPerPartition" value="30" />
		<property name="minConnectionsPerPartition" value="10" />
		<property name="partitionCount" value="3" />
		<property name="acquireIncrement" value="5" />
		<property name="statementsCacheSize" value="100" />
		<property name="releaseHelperThreads" value="3" />
	</bean>
	<!-- End of Data Source -->

	<!-- DAO Beans -->

	<bean id="crprAppDetailsList" class="app.db.dao.sessionless.CrprAppDetailsList">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="aptbUserList" class="app.db.dao.user.AptbUserList">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="apprUserAdd" class="app.db.dao.user.ApprUserAdd">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>
	
	<bean id="apprUserFindById" class="app.db.dao.user.ApprUserFindById">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>
	
	
	<bean id="apprUserDelete" class="app.db.dao.user.ApprUserDelete">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>
	
	
	<bean id="apprUserUpdate" class="app.db.dao.user.ApprUserUpdate">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>
	
	
	

	<bean id="apprRoleList" class="app.db.dao.user.ApprRoleList">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>



	<bean id="login" class="app.db.dao.user.Login">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="tkprProductList" class="app.db.dao.master.TkprProductList">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="tkprEnvironmentList" class="app.db.dao.master.TkprEnvironmentList">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="tkprCategoryList" class="app.db.dao.master.TkprCategoryList">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="suprReportDetailList" class="app.db.dao.scrum.SuprReportDetailList">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="suprCategoryFindByReportId" class="app.db.dao.scrum.SuprCategoryFindByReportId">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="suprSubCategoryFindByCategoryId" class="app.db.dao.scrum.SuprSubCategoryFindByCategoryId">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="suprScrumUpdateAdd" class="app.db.dao.scrum.SuprScrumUpdateAdd">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>


	<bean id="suprScrumUpdateByMemberId" class="app.db.dao.scrum.SuprScrumUpdateByMemberId">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>


	<bean id="suprTotalScrumUpdate" class="app.db.dao.scrum.SuprTotalScrumUpdate">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>

	<bean id="suprFinalReportByReportId" class="app.db.dao.scrum.SuprFinalReportByReportId">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>


	<bean id="suprScrumUpdateDelete" class="app.db.dao.scrum.SuprScrumUpdateDelete">
		<constructor-arg>
			<ref bean="boneCP" />
		</constructor-arg>
	</bean>




	<!--End of DAO Beans -->

	<!-- Beans -->
	<bean id="crtbAppDetails" class="app.db.model.sessionless.CrtbAppDetails"></bean>
	<bean id="aptbRole" class="app.db.model.user.AptbRole"></bean>
	<bean id="aptbUser" class="app.db.model.user.AptbUser"></bean>
	<bean id="tktbProduct" class="app.db.model.master.TktbProduct"></bean>
	<bean id="tktbEnvironment" class="app.db.model.master.TktbEnvironment"></bean>
	<bean id="tktbCategory" class="app.db.model.master.TktbCategory"></bean>

	<bean id="sutbReportDetail" class="app.db.model.scrum.SutbReportDetail"></bean>
	<bean id="sutbCategory" class="app.db.model.scrum.SutbCategory"></bean>
	<bean id="sutbSubCategory" class="app.db.model.scrum.SutbSubCategory"></bean>
	<bean id="sutbScrumUpdate" class="app.db.model.scrum.SutbScrumUpdate"></bean>
	
	
	<!-- End of Beans -->

</beans>